# OLD IGNORE SETTINGS
#.idea/
# Skeet.filters
# Skeet.sln
# Skeet.user
# Skeet.vcxproj
# Skeet.vcxproj.user
# Skeet.xcodeproj/

# Ignore everything
*

# Except these file types
!*.h
!*.hpp
!*.c
!*.cpp
!*.txt
!*.md

# Include project and solution files
!*.sln
!*.vcxproj
!*.vcxproj.filters
!*.vcxproj.user
!*.vcxproj.includepath
!*.vcxproj.files

# Include configuration files
!*.config
!*.json
!*.xml
